

.mainTitle {
    display: flex;
    justify-content: space-between;
}

.mainCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
}

.card:first-child{
    background-color: #2962ff;
}
.card:nth-child(2){
    background-color: #ff6d00;
}
.card:nth-child(3){
    background-color: #2e7d32;
}
.card:nth-child(4){
    background-color: #d50000;
}

.cardInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInner > .cardIcon {
    font-size: 25px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
}

@media screen and (max-width: 830px) {
    .mainCards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}